body{
	background-color: #ededed;
}

.modal-window {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.15);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: auto;
}

.modal-window > div {
	background-image: url("./pattern.png");
	width: 400px;
	position: relative;
	margin: 15% auto;
	padding: 2rem;
	background-color: #54c6b6;
	color: #fff;
}

.modal-window header {
	font-size: 150%;
	margin: 0 0 15px;
}

.modal-window div.body {
}

.modal-close {
	color: #fff;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}

.modal-close:hover {
	color: #000;
}